.MonsterBlock {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: rgb(65, 70, 73);
  padding: 10px;
  color: white;
}

.best {
  text-align: center;
  background: rgb(1, 182, 16);
  font-size: 30px;
  color: white;
  font-weight: bolder;
}
.best .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.best:hover .tooltiptext {
  visibility: visible;
}

.fine {
  text-align: center;
  background: rgb(175, 99, 0);
  font-size: 30px;
  color: white;
  font-weight: bolder;
}

.fine .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.fine:hover .tooltiptext {
  visibility: visible;
}

.worst {
  text-align: center;
  background: #850808;
  font-size: 30px;
  color: white;
  font-weight: bolder;
}

.worst .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.worst:hover .tooltiptext {
  visibility: visible;
}

.dropDown {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px rgba(133, 0, 0, 0.8);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: black;
  background-image: black;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}

dropdown,
.dropDown::after {
  grid-area: select;
}

.dropDown:after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: rgba(133, 0, 0, 0.8);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

.monsterPicker {
  grid-area: 1/6/6;
  background-color: rgba(133, 0, 0, 0.8);
}

.CRtitle {
  background-color: rgba(133, 0, 0, 0.8);
  justify-self: center;
}
